[Unit]
Description=A private certificate authority (X.509 & SSH) & ACME server
Documentation=https://github.com/smallstep/certificates
After=network.target
Before=nss-lookup.target
Wants=nss-lookup.target

[Service]
NonBlocking=true
WorkingDirectory={{step_home}}
ExecStart=/usr/bin/step-ca .step/config/ca.json --password-file=/etc/step-ca/password.txt
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
User={{step_user}}
Group={{step_user}}
CacheDirectory=step-ca
LogsDirectory=step-ca
RuntimeDirectory=step-ca
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
